*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}
body{
    width: 100%;
 
}
.myHeader{
    width: 80%;
    text-align: center;
    margin:  auto;
}
.myHeader .logo{
    float: left;
    width: 50%;
}

.clear{
    clear: both;
}
.myNav{
    width: 80%;
   text-align: center;
   margin: auto; 
  
}
.line{
    text-align: center;
    margin: 10px 0;
    
}
.myNav ul li a{
    text-decoration: none;
    font-size: 12px; 
    color: black;
}
.myNav ul li{
    padding-right: 8px;
    width: 9%;
    display: inline;
}
.myNav ul li:hover a{
    text-decoration-line: underline;
    color: red;
    background-color:none;
}
.mySilder{
    width: 80%;
    text-align: center;
    margin: auto;
}
.mySilder img{
    width: 80%;
    height: 300px;
}
.myIntro{
    width: 80%;
    margin: auto;
    
}
.myIntro h1{
    text-align: center;
  padding: 20px 0;
  margin-left: 20px;
}
.myIntro .myLine{
    text-align: center;
    margin: auto;
    width: 60%;
    height: 30px;
    text-align: center;
    padding-bottom: 10px;
   
}
.myIntro p{
    text-align: center;
    margin: 10px 110px;
    line-height: 25px;
}
.myCourse{
    width: 80%;
    margin: 10px 230px;
    text-align: center;
    padding: 0 50px;
   
   
}
.myCourse_content{
    margin:0 auto;
}
.myCourse_item{
    float: left;
    margin-right:40px;
    width: 19%;
    
}
.myCourse_item h2{
    font-size:13px;
    color: red;
    line-height: both;
}
.myCourse_item p{
    font-size:13px;
    line-height: both;
    padding-bottom: 20px;
    color:green;
}
.myCourse img{
    height: 100%;
    width: 100%;
}

/* end course */
.news{
    width: 80%;
    margin: 10px 250px;
    border:none;

  
}
.news .left,.news .right{
    float: left;
    width: 42%;
    margin-right: 10px;
}
.right .right_top .right_top_1,.right_top_2,.right_bot .right_bot_1,.right_bot_2{
    float: left;
    width: 49%;
    margin: 1px 0;
 
}
.news img{
    width: 100%;
    height: 100%;
}
.right .right_top .right_top_1,.right_bot .right_bot_1{
  margin-right: 9px;
}
.news .myLine2{
    text-align: center;
    margin: auto;
    width: 60%;
    height: 30px;
    text-align: center;
    padding-bottom: 10px;
   
}
.news h2{
 text-align: center;
  margin-right: 135px;
  font-size: 40px;

}

.right .right_top .right_top_1,.right_top_2,.right_bot_1,.right_bot_2{
    position: relative;
}
.right .right_top .contents,.right .right_bot .contents{
    position: absolute;
    bottom: 0px;
    background-color: rgb(0, 0, 0,0.5);
    color: white;
    width: 100%;
    padding: 10px;
}
.news .left{
    position: relative;
}
.left .contents{
    position: absolute;
    bottom: 0px;
    background-color: #black;
    color: white;
    width: 100%;
    padding: 1x;
    
}
.myGallery img{
    width: 100%;
    height: 100%;
    display: block; /* hình chiêm 100% */

}
.myGallery h1{
    font-size: 50px;
    text-align: center;
    margin:30px 0;
}
.myGallery .gallery_content{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 30px;  /* khoảng cách giauwx cách cột*/
    grid-row-gap: 30px;
    display: -ms-grid; /* sử dụng cho i10*/
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
}
.item_1{
    grid-column: 1/span 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
}
.item_2{
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
}
.item_2{
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
}
.item_6{
    grid-column: 3/span 2;
}
.myGallery .gallery_item{
    position: relative;
}
.gallery_item .item_content{
    position: absolute;
    top :20px;
    left: 15px;
    width: 80%;
    text-align: right;
    top: 60px;
    left: 10%;
    height: 80%;
    
}
.item_content .underline{
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 100px;
    opacity: 0 ;
}
.item_content p:first-child{
    font-size: 30px;
    position: absolute;
    top:20px;
    right: 0;
    color:white;
}

.item_content p:first-child span{
    font-weight: bold;
}
.item_content p:last-child{
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    color: white;
    font-size:10px;
}
.gallery_item:hover .item_content p:first-child{
    top:0px;
    transition: all 0.5s;
}
.gallery_item:hover .item_content .underline{
    top:40px;
    transition: all 0.5s;
    opacity: 1;
}
.gallery_item:hover .item_content p:last-child{
    transition: all 0.5s;
    opacity: 1;
    
}
@media screen and (max-width: 992px){
    .myGallery h1{
    font-size: 30px;
    text-align: center;
    margin:auto 0;
    padding-bottom:20px;
    
}
}
@media screen and (max-width: 768px){
    .myGallery h1{
    font-size: 20px;
    text-align: center;
    margin:auto 0;
    padding-bottom:20px;
}
}
