<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DmQT03Entities" connectionString="metadata=res://*/Areas.Admin.Models.DienMayQuyetTien.csdl|res://*/Areas.Admin.Models.DienMayQuyetTien.ssdl|res://*/Areas.Admin.Models.DienMayQuyetTien.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tuleap.vanlanguni.edu.vn,18082;initial catalog=DmQT03;persist security info=True;user id=dmqt03;password=DmQT03@@@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>