<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dmquyettien.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dmquyettien.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dmquyettien</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>thanhhaidev</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DmQT03Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=tuleap.vanlanguni.edu.vn,18082;Initial Catalog=DmQT03;Persist Security Info=True;User ID=dmqt03;Password=DmQT03@@@;Application Name=EntityFramework" Name="Data Source=tuleap.vanlanguni.edu.vn,18082;Initial Catalog=DmQT03;Persist Security Info=True;User ID=dmqt03;Password=DmQT03@@@;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DienMayQuyetTien.Areas.Admin.Models.DmQT03Entities, DienMayQuyetTien" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DmQT03EntitiesFrontEnd" Order="2" Enabled="False">
          <Destination Path="Data Source=tuleap.vanlanguni.edu.vn,18082;Initial Catalog=DmQT03;Persist Security Info=True;User ID=dmqt03;Password=DmQT03@@@;Application Name=EntityFramework" Name="Data Source=tuleap.vanlanguni.edu.vn,18082;Initial Catalog=DmQT03;Persist Security Info=True;User ID=dmqt03;Password=DmQT03@@@;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tuleap.vanlanguni.edu.vn,18082;Initial Catalog=DmQT03;Persist Security Info=True;User ID=dmqt03;Password=DmQT03@@@;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DmQT03EntitiesFrontEnd_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Frontend.csdl|res://*/Models.Frontend.ssdl|res://*/Models.Frontend.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tuleap.vanlanguni.edu.vn,18082;initial catalog=DmQT03;persist security info=True;user id=dmqt03;password=DmQT03@@@;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DmQT03Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Areas.Admin.Models.DienMayQuyetTien.csdl|res://*/Areas.Admin.Models.DienMayQuyetTien.ssdl|res://*/Areas.Admin.Models.DienMayQuyetTien.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tuleap.vanlanguni.edu.vn,18082;Initial Catalog=DmQT03;Persist Security Info=True;User ID=dmqt03;Password=DmQT03@@@;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DmQT03EntitiesFrontEnd-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Frontend.csdl|res://*/Models.Frontend.ssdl|res://*/Models.Frontend.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tuleap.vanlanguni.edu.vn,18082;Initial Catalog=DmQT03;Persist Security Info=True;User ID=dmqt03;Password=DmQT03@@@;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>