@model DienMayQuyetTien.Areas.Admin.Models.Introduction

@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 product-content" id="list-content">
    <div class="product-wrap">
        <div class="wrap-2" style="margin-bottom: 20px;">
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>

