
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="banner">
    <div class="container">
        <div class="banner">
            <div class="item-banner">
                <a href="">
                    <img src="~/Assets/Client/images/b01.jpg">
                </a>
            </div>
            <div class="item-banner">
                <a href="">
                    <img src="~/Assets/Client/images/b02.jpg">
                </a>
            </div>
            <div class="item-banner">
                <a href="">
                    <img src="~/Assets/Client/images/b03.jpg">
                </a>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="list-product">
            <div class="list-header-z">
                <h2><a href="dien-thoai" style="color: #ff9800">Điện thoại</a></h2>
                <ul class="sub-category">
                    <li>
                        <a href="san-pham/iphone" title="Iphone" class="ws-nw overflow ellipsis">
                            Iphone
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/samsung" title="Samsung" class="ws-nw overflow ellipsis">
                            Samsung
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/oppo" title="Oppo" class="ws-nw overflow ellipsis">
                            Oppo
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/huawei" title="Huawei" class="ws-nw overflow ellipsis">
                            Huawei
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/asus-dt" title="Asus ( ĐT )" class="ws-nw overflow ellipsis">
                            Asus ( ĐT )
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/lg" "=" " title="LG" class="ws-nw overflow ellipsis">
                            LG
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/sony" "=" " title="Sony" class="ws-nw overflow ellipsis">
                            Sony
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/khac" "=" " title="Khác" class="ws-nw overflow ellipsis">
                            Khác
                        </a>
                    </li>
                </ul>
            </div>
            <div class="list-product-content">
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 product-one">
                    <div class="image-product">
                        <a href="dien-thoai-iphone-7-32gb" title="Điện thoại iPhone 7 32GB">
                            <!-- <div class="img-bg"style="background: url(~/Assets/Client/images/products/83c431477cb29944a20a232aa085c115.jpg);">
                            </div> -->
                            <img src="~/Assets/Client/images/products/83c431477cb29944a20a232aa085c115.jpg" class="img-bg">
                        </a>
                        <h4>
                            <a href="dien-thoai-iphone-7-32gb" title="Điện thoại iPhone 7 32GB" class="ws-nw overflow ellipsis">
                                Điện thoại iPhone 7 32GB
                            </a>
                        </h4>
                    </div>
                    <div class="price-product-item">
                        <span class="">17,990,000₫</span>
                        <span style="color: #fff">17,990,000₫</span>
                    </div>
                    <div class="btn-action">
                        <button type="button" class="fa fa-shopping-cart" onclick="onAddCart(9)"></button>
                        <button type="button" class="fa fa-eye"></button>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 product-one">
                    <div class="image-product">
                        <a href="dien-thoai-samsung-galaxy-s7-edge" title="Điện thoại Samsung Galaxy S7 Edge">
                            <!-- <div class="img-bg"style="background: url(~/Assets/Client/images/products/0e31b48f8bfe5ca0d63ce2da9a9a72ac.jpg);">
                            </div> -->
                            <img src="~/Assets/Client/images/products/0e31b48f8bfe5ca0d63ce2da9a9a72ac.jpg" class="img-bg">
                        </a>
                        <h4>
                            <a href="dien-thoai-samsung-galaxy-s7-edge" title="Điện thoại Samsung Galaxy S7 Edge" class="ws-nw overflow ellipsis">
                                Điện thoại Samsung Galaxy S7 Edge
                            </a>
                        </h4>
                    </div>
                    <div class="price-product-item">
                        <span class="">15,490,000₫</span>
                        <span style="color: #fff">15,490,000₫</span>
                    </div>
                    <div class="btn-action">
                        <button type="button" class="fa fa-shopping-cart" onclick="onAddCart(10)"></button>
                        <button type="button" class="fa fa-eye"></button>
                    </div>
                </div>
                <div class="
                            col-xs-6 col-sm-4 col-md-2 col-lg-2 product-one">
                    <div class="image-product">
                        <a href="dien-thoai-samsung-galaxy-s7-edge-xanh-coral" title="Điện thoại Samsung Galaxy S7 Edge (Xanh Coral)">
                            <!-- <div class="img-bg"style="background: url(~/Assets/Client/images/products/6ef999dcdc368761044afd46d4ac62ea.jpg);">
                            </div> -->
                            <img src="~/Assets/Client/images/products/6ef999dcdc368761044afd46d4ac62ea.jpg" class="img-bg">
                        </a>
                        <h4>
                            <a href="dien-thoai-samsung-galaxy-s7-edge-xanh-coral" title="Điện thoại Samsung Galaxy S7 Edge (Xanh Coral)" class="ws-nw overflow ellipsis">
                                Điện thoại Samsung Galaxy S7 Edge (Xanh Coral)
                            </a>
                        </h4>
                    </div>
                    <div class="price-product-item">
                        <span class="">15,490,000₫</span>
                        <span style="color: #fff">15,490,000₫</span>
                    </div>
                    <div class="btn-action">
                        <button type="button" class="fa fa-shopping-cart" onclick="onAddCart(11)"></button>
                        <button type="button" class="fa fa-eye"></button>
                    </div>
                </div>
                <div class="
                            col-xs-6 col-sm-4 col-md-2 col-lg-2 product-one">
                    <div class="image-product">
                        <a href="dien-thoai-samsung-galaxy-s7-edge-pink-gold-edition" title="Điện thoại Samsung Galaxy S7 Edge (Pink Gold Edition)">
                            <!-- <div class="img-bg"style="background: url(~/Assets/Client/images/products/e91bd62085c40f2cc6adb82353b39991.jpg);">
                            </div> -->
                            <img src="~/Assets/Client/images/products/e91bd62085c40f2cc6adb82353b39991.jpg" class="img-bg">
                        </a>
                        <h4>
                            <a href="dien-thoai-samsung-galaxy-s7-edge-pink-gold-edition" title="Điện thoại Samsung Galaxy S7 Edge (Pink Gold Edition)" class="ws-nw overflow ellipsis">
                                Điện thoại Samsung Galaxy S7 Edge (Pink Gold Edition)
                            </a>
                        </h4>
                    </div>
                    <div class="price-product-item">
                        <span class="">154,900,000₫</span>
                        <span style="color: #fff">154,900,000₫</span>
                    </div>
                    <div class="btn-action">
                        <button type="button" class="fa fa-shopping-cart" onclick="onAddCart(12)"></button>
                        <button type="button" class="fa fa-eye"></button>
                    </div>
                </div>
                <div class="
                            col-xs-6 col-sm-4 col-md-2 col-lg-2 product-one">
                    <div class="image-product">
                        <a href="dien-thoai-samsung-galaxy-s7" title="Điện thoại Samsung Galaxy S7">
                            <!-- <div class="img-bg"style="background: url(~/Assets/Client/images/products/5db77009e264ec1d2682ceee9498c754.jpg);">
                            </div> -->
                            <img src="~/Assets/Client/images/products/5db77009e264ec1d2682ceee9498c754.jpg" class="img-bg">
                        </a>
                        <h4>
                            <a href="dien-thoai-samsung-galaxy-s7" title="Điện thoại Samsung Galaxy S7" class="ws-nw overflow ellipsis">
                                Điện thoại Samsung Galaxy S7
                            </a>
                        </h4>
                    </div>
                    <div class="price-product-item">
                        <span class="">129,900,000₫</span>
                        <span style="color: #fff">129,900,000₫</span>
                    </div>
                    <div class="btn-action">
                        <button type="button" class="fa fa-shopping-cart" onclick="onAddCart(13)"></button>
                        <button type="button" class="fa fa-eye"></button>
                    </div>
                </div>
                <div class="
                            col-xs-6 col-sm-4 col-md-2 col-lg-2 product-one">
                    <div class="image-product">
                        <a href="dien-thoai-samsung-galaxy-note-5" title="Điện thoại Samsung Galaxy Note 5">
                            <!-- <div class="img-bg"style="background: url(~/Assets/Client/images/products/31384b933c5fbe129808593f5fbd8e34.jpg);">
                            </div> -->
                            <img src="~/Assets/Client/images/products/31384b933c5fbe129808593f5fbd8e34.jpg" class="img-bg">
                        </a>
                        <h4>
                            <a href="dien-thoai-samsung-galaxy-note-5" title="Điện thoại Samsung Galaxy Note 5" class="ws-nw overflow ellipsis">
                                Điện thoại Samsung Galaxy Note 5
                            </a>
                        </h4>
                    </div>
                    <div class="price-product-item">
                        <span class="">12,490,000₫</span>
                        <span style="color: #fff">12,490,000₫</span>
                    </div>
                    <div class="btn-action">
                        <button type="button" class="fa fa-shopping-cart" onclick="onAddCart(14)"></button>
                        <button type="button" class="fa fa-eye"></button>
                    </div>
                </div>
                <div class="
                            col-xs-6 col-sm-4 col-md-2 col-lg-2
                            product-one">
                    <div class="image-product">
                        <a href="dien-thoai-samsung-galaxy-c9-pro" title="Điện thoại Samsung Galaxy C9 Pro">
                            <!-- <div class="img-bg"style="background: url(~/Assets/Client/images/products/3280683824a74306e3402e5f3e9cebea.jpg);">
                            </div> -->
                            <img src="~/Assets/Client/images/products/3280683824a74306e3402e5f3e9cebea.jpg" class="img-bg">
                        </a>
                        <h4>
                            <a href="dien-thoai-samsung-galaxy-c9-pro" title="Điện thoại Samsung Galaxy C9 Pro" class="ws-nw overflow ellipsis">
                                Điện thoại Samsung Galaxy C9 Pro
                            </a>
                        </h4>
                    </div>
                    <div class="price-product-item">
                        <span class="">11,490,000₫</span>
                        <span style="color: #fff">11,490,000₫</span>
                    </div>
                    <div class="btn-action">
                        <button type="button" class="fa fa-shopping-cart" onclick="onAddCart(15)"></button>
                        <button type="button" class="fa fa-eye"></button>
                    </div>
                </div>
                <div class="
                            col-xs-6 col-sm-4 col-md-2 col-lg-2
                            product-one">
                    <div class="image-product">
                        <a href="dien-thoai-samsung-galaxy-a7-2017" title="Điện thoại Samsung Galaxy A7 (2017)">
                            <!-- <div class="img-bg"style="background: url(~/Assets/Client/images/products/22fd7101a5740db6aa9f6e932d897d0e.jpg);">
                            </div> -->
                            <img src="~/Assets/Client/images/products/22fd7101a5740db6aa9f6e932d897d0e.jpg" class="img-bg">
                        </a>
                        <h4>
                            <a href="dien-thoai-samsung-galaxy-a7-2017" title="Điện thoại Samsung Galaxy A7 (2017)" class="ws-nw overflow ellipsis">
                                Điện thoại Samsung Galaxy
                                A7 (2017)
                            </a>
                        </h4>
                    </div>
                    <div class="price-product-item">
                        <span class="">10,990,000₫</span>
                        <span style="color: #fff">10,990,000₫</span>
                    </div>
                    <div class="btn-action">
                        <button type="button" class="fa fa-shopping-cart" onclick="onAddCart(16)"></button>
                        <button type="button" class="fa fa-eye"></button>
                    </div>
                </div>
                <div class="
                            col-xs-6 col-sm-4 col-md-2
                            col-lg-2 product-one">
                    <div class="image-product">
                        <a href="dien-thoai-samsung-galaxy-a9-pro" title="Điện thoại Samsung Galaxy A9 Pro">
                            <!-- <div class="img-bg"style="background: url(~/Assets/Client/images/products/736ca8c221dd09ccf118e580c9c11e5a.jpg);">
                            </div> -->
                            <img src="~/Assets/Client/images/products/736ca8c221dd09ccf118e580c9c11e5a.jpg" class="img-bg">
                        </a>
                        <h4>
                            <a href="dien-thoai-samsung-galaxy-a9-pro" title="Điện thoại Samsung Galaxy A9 Pro" class="ws-nw overflow ellipsis">
                                Điện thoại Samsung
                                Galaxy A9 Pro
                            </a>
                        </h4>
                    </div>
                    <div class="price-product-item">
                        <span class="">10,900,000₫</span>
                        <span style="color: #fff">10,900,000₫</span>
                    </div>
                    <div class="btn-action">
                        <button type="button" class="fa fa-shopping-cart" onclick="onAddCart(17)"></button>
                        <button type="button" class="fa fa-eye"></button>
                    </div>
                </div>
                <div class="
                            col-xs-6 col-sm-4 col-md-2 col-lg-2
                            product-one">
                    <div class="image-product">
                        <a href="dien-thoai-samsung-galaxy-a5-2017" title="Điện thoại Samsung Galaxy A5 (2017)">
                            <!-- <div class="img-bg"style="background: url(~/Assets/Client/images/products/6fdeb885a97cd59183d166ae43a57843.jpg);">
                            </div> -->
                            <img src="~/Assets/Client/images/products/6fdeb885a97cd59183d166ae43a57843.jpg" class="img-bg">
                        </a>
                        <h4>
                            <a href="dien-thoai-samsung-galaxy-a5-2017" title="Điện thoại Samsung Galaxy A5 (2017)" class="ws-nw overflow ellipsis">
                                Điện thoại
                                Samsung
                                Galaxy A5
                                (2017)
                            </a>
                        </h4>
                    </div>
                    <div class="price-product-item">
                        <span class="">8,990,000₫</span>
                        <span style="color: #fff">8,990,000₫</span>
                    </div>
                    <div class="btn-action">
                        <button type="button" class="fa fa-shopping-cart" onclick="onAddCart(18)"></button>
                        <button type="button" class="fa fa-eye"></button>
                    </div>
                </div>
                <div class="
                            col-xs-6
                            col-sm-4
                            col-md-2
                            col-lg-2
                            product-one">
                    <div class="image-product">
                        <a href="dien-thoai-samsung-galaxy-a7-2016" title="Điện thoại Samsung Galaxy A7 (2016)">
                            <!-- <div class="img-bg"style="background: url(~/Assets/Client/images/products/c2d698435ad152ecadedeef6e38c708d.jpg);">
                            </div> -->
                            <img src="~/Assets/Client/images/products/c2d698435ad152ecadedeef6e38c708d.jpg" class="img-bg">
                        </a>
                        <h4>
                            <a href="dien-thoai-samsung-galaxy-a7-2016" title="Điện thoại Samsung Galaxy A7 (2016)" class="ws-nw overflow ellipsis">
                                Điện
                                thoại
                                Samsung
                                Galaxy
                                A7
                                (2016)
                            </a>
                        </h4>
                    </div>
                    <div class="price-product-item">
                        <span class="">8,990,000₫</span>
                        <span style="color: #fff">8,990,000₫</span>
                    </div>
                    <div class="btn-action">
                        <button type="button" class="fa fa-shopping-cart" onclick="onAddCart(19)"></button>
                        <button type="button" class="fa fa-eye"></button>
                    </div>
                </div>
                <div class="
                            col-xs-6
                            col-sm-4
                            col-md-2
                            col-lg-2
                            product-one">
                    <div class="image-product">
                        <a href="dien-thoai-samsung-galaxy-a5-2016" title="Điện thoại Samsung Galaxy A5 2016">
                            <!-- <div class="img-bg"style="background: url(~/Assets/Client/images/products/a1258207ec8d119d5a4a9217d11c09af.jpg);">
                            </div> -->
                            <img src="~/Assets/Client/images/products/a1258207ec8d119d5a4a9217d11c09af.jpg" class="img-bg">
                        </a>
                        <h4>
                            <a href="dien-thoai-samsung-galaxy-a5-2016" title="Điện thoại Samsung Galaxy A5 2016" class="ws-nw overflow ellipsis">
                                Điện
                                thoại
                                Samsung
                                Galaxy
                                A5
                                2016
                            </a>
                        </h4>
                    </div>
                    <div class="price-product-item">
                        <span class="">6,790,000₫</span>
                        <span style="color: #fff">6,790,000₫</span>
                    </div>
                    <div class="btn-action">
                        <button type="button" class="fa fa-shopping-cart" onclick="onAddCart(20)"></button>
                        <button type="button" class="fa fa-eye"></button>
                    </div>
                </div>
            </div>
            <div class="
                        footer-load-more">
                <a href="san-pham/dien-thoai">
                    <p class="text-center">
                        Xem
                        thêm
                    </p>
                </a>
            </div>
        </div>
        <div class="list-product">
            <div class="list-header-z">
                <h2><a href="laptop" style="color: #3c8dbc">Laptop</a></h2>
                <ul class="sub-category">
                    <li>
                        <a href="san-pham/macbook" "=" " title="Macbook" class="ws-nw overflow ellipsis">
                            Macbook
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/hp" title="HP" class="ws-nw overflow ellipsis">
                            HP
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/dell" title="Dell" class="ws-nw overflow ellipsis">
                            Dell
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/lenovo" title="Lenovo" class="ws-nw overflow ellipsis">
                            Lenovo
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/acer" title="Acer" class="ws-nw overflow ellipsis">
                            Acer
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/asus-lt" title="Asus (LT)" class="ws-nw overflow ellipsis">
                            Asus
                            (LT)
                        </a>
                    </li>
                </ul>
            </div>
            <div class="list-product-content">
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 product-one">
                    <div class="image-product">
                        <a href="laptop-apple-macbook-air-mmgf2zp-a-i5-5250u-8gb-128gb" title="Laptop Apple Macbook Air MMGF2ZP/A i5 5250U/8GB/128GB">
                            <!-- <div class="img-bg"style="background: url(~/Assets/Client/images/products/025bcbc48b6aa9049c378438846e723a.png);">
                            </div> -->
                            <img src="~/Assets/Client/images/products/025bcbc48b6aa9049c378438846e723a.png" class="img-bg">
                        </a>
                        <h4>
                            <a href="laptop-apple-macbook-air-mmgf2zp-a-i5-5250u-8gb-128gb" title="Laptop Apple Macbook Air MMGF2ZP/A i5 5250U/8GB/128GB" class="ws-nw overflow ellipsis">
                                Laptop
                                Apple
                                Macbook
                                Air
                                MMGF2ZP/A
                                i5
                                5250U/8GB/128GB
                            </a>
                        </h4>
                    </div>
                    <div class="price-product-item">
                        <span class="">23,990,000₫</span>
                        <span style="color: #fff">23,990,000₫</span>
                    </div>
                    <div class="btn-action">
                        <button type="button" class="fa fa-shopping-cart" onclick="onAddCart(1)"></button>
                        <button type="button" class="fa fa-eye"></button>
                    </div>
                </div>
                <div class="
                            col-xs-6
                            col-sm-4
                            col-md-2
                            col-lg-2
                            product-one">
                    <div class="image-product">
                        <a href="laptop-apple-macbook-pro-mf839zp-a-i5-5257u-8gb-128gb" title="Laptop Apple Macbook Pro MF839ZP/A i5 5257U/8GB/128GB">
                            <!-- <div class="img-bg"style="background: url(~/Assets/Client/images/products/39ef8ab4354c4e98853aa4ea2a220ac3.png);">
                            </div> -->
                            <img src="~/Assets/Client/images/products/39ef8ab4354c4e98853aa4ea2a220ac3.png" class="img-bg">
                        </a>
                        <h4>
                            <a href="laptop-apple-macbook-pro-mf839zp-a-i5-5257u-8gb-128gb" title="Laptop Apple Macbook Pro MF839ZP/A i5 5257U/8GB/128GB" class="ws-nw overflow ellipsis">
                                Laptop
                                Apple
                                Macbook
                                Pro
                                MF839ZP/A
                                i5
                                5257U/8GB/128GB
                            </a>
                        </h4>
                    </div>
                    <div class="price-product-item">
                        <span class="">3,059,000₫</span>
                        <span style="color: #fff">3,059,000₫</span>
                    </div>
                    <div class="btn-action">
                        <button type="button" class="fa fa-shopping-cart" onclick="onAddCart(3)"></button>
                        <button type="button" class="fa fa-eye"></button>
                    </div>
                </div>
                <div class="
                            col-xs-6
                            col-sm-4
                            col-md-2
                            col-lg-2
                            product-one">
                    <div class="image-product">
                        <a href="laptop-apple-macbook-12-mmgl2-core-m-1-1g-8gb-256gb-macos-2016" title="Laptop Apple Macbook 12" mmgl2="" core="" m="" 1.1g="" 8gb="" 256gb="" macos="" (2016)"="">
                            <!-- <div class="img-bg"style="background: url(~/Assets/Client/images/products/f96ee9e6d99e8f6f787b560ab2c157dd.png);">
                            </div> -->
                            <img src="~/Assets/Client/images/products/f96ee9e6d99e8f6f787b560ab2c157dd.png" class="img-bg">
                        </a>
                        <h4>
                            <a href="laptop-apple-macbook-12-mmgl2-core-m-1-1g-8gb-256gb-macos-2016" title="Laptop Apple Macbook 12 MMGL2 Core M 1.1G/8GB/256GB/MacOS(2016)" class="ws-nw overflow ellipsis">
                                Laptop
                                Apple
                                Macbook
                                12"
                                MMGL2
                                Core
                                M
                                1.1G/8GB/256GB/MacOS
                                (2016)
                            </a>
                        </h4>
                    </div>
                    <div class="price-product-item">
                        <span class="">0₫</span>
                        <span style="color: #fff">0₫</span>
                    </div>
                    <div class="btn-action">
                        <button type="button" class="fa fa-shopping-cart" onclick="onAddCart(4)"></button>
                        <button type="button" class="fa fa-eye"></button>
                    </div>
                </div>
                <div class="
                            col-xs-6
                            col-sm-4
                            col-md-2
                            col-lg-2
                            product-one">
                    <div class="image-product">
                        <a href="laptop-apple-macbook-12-mlhe2-core-m-1-1g-8gb-256gb-macos-2016" title="Laptop Apple Macbook 12 MLHE2 Core M1.1G/8GB/256GB/ MacOS(2016)">
                            <!-- <div class="img-bg"style="background: url(~/Assets/Client/images/products/20792ab4ced9557f0ee6d63c28efc0d3.png);">
                            </div> -->
                            <img src="~/Assets/Client/images/products/20792ab4ced9557f0ee6d63c28efc0d3.png" class="img-bg">
                        </a>
                        <h4>
                            <a href="laptop-apple-macbook-12-mlhe2-core-m-1-1g-8gb-256gb-macos-2016" title="Laptop Apple Macbook 12
                                    MLHE2
                                    Core
                                    M
                                    1.1G/8GB/256GB/MacOS
                                    (2016)" class="ws-nw overflow ellipsis">
                                Laptop
                                Apple
                                Macbook
                                12"
                                MLHE2
                                Core
                                M
                                1.1G/8GB/256GB/MacOS
                                (2016)
                            </a>
                        </h4>
                    </div>
                    <div class="price-product-item">
                        <span class="">31,490,000₫</span>
                        <span style="color: #fff">31,490,000₫</span>
                    </div>
                    <div class="btn-action">
                        <button type="button" class="fa fa-shopping-cart" onclick="onAddCart(5)"></button>
                        <button type="button" class="fa fa-eye"></button>
                    </div>
                </div>
                <div class="
                            col-xs-6
                            col-sm-4
                            col-md-2
                            col-lg-2
                            product-one">
                    <div class="image-product">
                        <a href="laptop-apple-macbook-pro-new-mll42sa-a-i5-6360u-8gb-256gb-2016" title="Laptop Apple Macbook Pro New MLL42SA/A i5 6360U/8GB/256GB (2016)">
                            <!-- <div class="img-bg"style="background: url(~/Assets/Client/images/products/4501bb59130cad12439e4927741bdd25.png);">
                            </div> -->
                            <img src="~/Assets/Client/images/products/4501bb59130cad12439e4927741bdd25.png" class="img-bg">
                        </a>
                        <h4>
                            <a href="laptop-apple-macbook-pro-new-mll42sa-a-i5-6360u-8gb-256gb-2016" title="Laptop Apple Macbook Pro New MLL42SA/A i5 6360U/8GB/256GB (2016)" class="ws-nw overflow ellipsis">
                                Laptop
                                Apple
                                Macbook
                                Pro
                                New
                                MLL42SA/A
                                i5
                                6360U/8GB/256GB
                                (2016)
                            </a>
                        </h4>
                    </div>
                    <div class="price-product-item">
                        <span class="">33,690,000₫</span>
                        <span style="color: #fff">33,690,000₫</span>
                    </div>
                    <div class="btn-action">
                        <button type="button" class="fa fa-shopping-cart" onclick="onAddCart(7)"></button>
                        <button type="button" class="fa fa-eye"></button>
                    </div>
                </div>
                <div class="
                            col-xs-6
                            col-sm-4
                            col-md-2
                            col-lg-2
                            product-one">
                    <div class="image-product">
                        <a href="laptop-apple-macbook-12-mmgm2-core-m-1-2g-8gb-512gb-macos-2016" title="Laptop Apple Macbook 12" mmgm2="" core="" m="" 1.2g="" 8gb="" 512gb="" macos="" (2016)"="">
                            <!-- <div class="img-bg"style="background: url(~/Assets/Client/images/products/70b2ef369cc227a40392246060ba88b8.png);">
                            </div> -->
                            <img src="~/Assets/Client/images/products/70b2ef369cc227a40392246060ba88b8.png" class="img-bg">
                        </a>
                        <h4>
                            <a href="laptop-apple-macbook-12-mmgm2-core-m-1-2g-8gb-512gb-macos-2016" title="Laptop Apple Macbook 12
                                    MMGM2
                                    Core
                                    M
                                    1.2G/8GB/512GB/MacOS
                                    (2016)" class="ws-nw overflow ellipsis">
                                Laptop
                                Apple
                                Macbook
                                12"
                                MMGM2
                                Core
                                M
                                1.2G/8GB/512GB/MacOS
                                (2016)
                            </a>
                        </h4>
                    </div>
                    <div class="price-product-item">
                        <span class="">37,990,000₫</span>
                        <span style="color: #fff">37,990,000₫</span>
                    </div>
                    <div class="btn-action">
                        <button type="button" class="fa fa-shopping-cart" onclick="onAddCart(8)"></button>
                        <button type="button" class="fa fa-eye"></button>
                    </div>
                </div>
            </div>
            <div class="
                        footer-load-more">
                <a href="san-pham/laptop">
                    <p class="text-center">
                        Xem thêm
                    </p>
                </a>
            </div>
        </div>
    </div>
</section>

