@model IEnumerable<DienMayQuyetTien.Models.Promotion>
@{
    ViewBag.Title = "Khuyến mãi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="info">
        <h1 style="color: black">Thông tin khuyễn mãi</h1>
    </div>
    @foreach (var item in Model)
    {
        <div class="iso-box photoshop branding col-md-4 col-sm-6">
            <div class="portfolio-thumb">
                <img width: 100% src="@item.Image" class="img-responsive" alt="Portfolio">
                <div class="portfolio-overlay">
                    <div class="portfolio-item">
                        <a href="sale-23%"><h2 h2 style="font-size: 22px">@item.Name</h2></a>

                    </div>
                </div>
            </div>
        </div>
    }
</div>

